<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <hr class="dna-binary"> -->
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          Hi, I'm Manjot! I am driven to make a lasting impact at the intersection of data science, biology, and public health.
        </p>
        </p>
        <p>
         I specialize in leveraging machine learning, statistical modeling, and bioinformatics tools to extract meaningful insights to solve real-world problems.
        </p>
      </div>
    </div>
  </div>
</section>
