<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          Data is everywhere—even in the smallest microbial communities. I harness it to develop computational solutions for challenges in human and environmental health.
        </p>
        <p>
          Hi, I’m Manjot, a bioinformatics researcher and computational biologist passionate about transforming biological data into meaningful discoveries. From securing NSF grants for high-performance computing research to training transformers for bacterial promoter predictions, I love tackling complex problems.
        </p>
        <p>
          I spend my free time drawing, mentoring, and experimenting with new coding projects. If you're into data, bioinformatics, or just cool science conversations, let’s connect!
        </p>
      </div>
    </div>
  </div>
</section>
  </div>
</section>
