<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <hr class="dna-binary"> -->
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          Hi, I'm Jot! I am driven to make a lasting impact at the intersection of data science, biology, and public health.
        </p>
        </p>
        <p>
          I am currently purusing a Master of Science degree in Quantitative Biology and Bioinformatics at Carnegie Mellon University. I have a rare blend of wet-lab experience, clinical research insights, and computational skills.
        </p>
        <p> 
          I've collaborated with bench scientists in biotechnology to develop innovative contamination detection methods. My expertise includes data science with analyzing big datasets, including epidemiological studies with over 3,000 participants. Currently, I am leveraging metagenomic data for public health intiatives in Dr. Catherine Armbruster's Laboratory. 
        
        </p>
      </div>
    </div>
  </div>
</section>
