<!-- Add style directly in the head or link to a CSS file -->
<style>
  #p5-sketch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px; 
  }
  canvas {
    display: block;
  }
</style>

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="p5-sketch"></div> <!-- Container for the p5.js sketch -->
        
        <!-- Make sure paths are correct and accessible -->
        <script src="{{ site.baseurl }}/js/p5/p5.min.js"></script>
        <script src="{{ site.baseurl }}/js/p5/DNA.js"></script>
        <script src="{{ site.baseurl }}/js/p5/population.js"></script>
        <script src="{{ site.baseurl }}/js/p5/sketch.js"></script>
        
        <link rel="stylesheet" href="{{ site.baseurl }}/css/p5-style.css" />
        
        <div class="intro-text">
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
