<!-- Projects Section -->
<section class="success" id="projects">
    <div class="container">
        <div class="text-center">
            <h2>Projects</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <hr class="dna-binary">
                    <div class="text-center">
                    <h3 class="card-header">Time Series Forecasting</h3>
                    <div class="card-body">
                        <!-- <h5 class="card-title">Special title treatment</h5> -->
                        <!-- <h6 class="card-subtitle text-muted">Support card subtitle</h6> -->
                    </div>
                    <a href="https://github.com/manjot-nagyal/Time-Series-Forcasting/tree/main">
                        <img src="img/project1.png" class="card-img-top" alt="Description of image" style="width: 400px; height: auto;">
                    </a>
                    <div class="card-body">
                        <p class="card-text">Modeling of metastatic human triple-negative breast carcinoma dynamics in murine models.</p>
                    </div>
                    <div class="card-body">
                        <a href="https://github.com/manjot-nagyal/Time-Series-Forcasting/tree/main" class="card-link">github</a>
                        <a href="https://github.com/manjot-nagyal/Time-Series-Forcasting/blob/main/summary.pdf" class="card-link">report</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <hr class="dna-binary">
                    <div class="text-center">
                    <h3 class="card-header">Bacterial DNA in the Spotlight</h3>
                    <div class="card-body">
                        <!-- <h5 class="card-title">Special title treatment</h5> -->
                        <!-- <h6 class="card-subtitle text-muted">Support card subtitle</h6> -->
                    </div>
                    <a href="#">
                        <img src="img/project2.png" class="card-img-top" alt="Description of image" style="width: 400px; height: auto;">
                    </a>
                    <div class="card-body">
                        <p class="card-text">Predicting promoters using transfer learning with Nucleotide Transformer models</p>
                    </div>
                    <div class="card-body">
                        <a href="https://github.com/manjot-nagyal/prokprompred/tree/main" class="card-link">github</a>
                        <a href="https://github.com/manjot-nagyal/prokprompred/blob/main/02-604_Bioinformatics_Project_FinalReport.pdf" class="card-link">report</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 

<style>
    .card-link {
        color: #8ECAE6 !important;
        text-decoration: underline;
        margin-right: 30px;
    }
</style>
